# output/Alice_Smith_AI_Workshop_Certificate.pdf
# output/Bob_Jones_Architecture_workshop_Certificate.pdf
# output/Charlie_Brown_BI_Workshop_Certificate.pdf
# output/Diana_Prince_Robotic_Workshop_Certificate.pdf
